@import 'color.scss';

.film_details {
  .banner {
    position: relative;
    .swiper-button {
      transition: all .3s;
      opacity: 0;
    }
    &:hover {
      .swiper-button {
        opacity: 1;
      }
    }
  }
  .main {
    .row {
      .wallpaper {
        width: 27%;
      }
      .main_info {
        width: 70%;
        padding-left: 15px;
      }
    }
  }
}