@import 'color.scss';

.film_details {
  >.container {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    background: #1f2229;
    box-shadow: 0 0 15px #000;
  }
  .main {
    margin: 0 auto;
    width: 90%;
    .main_info {
      margin: 0;
      padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 1px solid #818181;
      >.row {
        margin: 0;
      }
      .wallpaper {
        width: 27%;
        img {
          box-shadow: 5px 5px 5px rgba(0,0,0,.5);
          padding: 10px;
          border: 1px solid #ccc;
        }
      }
      .words {
        width: 70%;
        padding-left: 25px;
        *{text-shadow: 3px 3px 5px #000;}
        h1 {
          position: relative;
          .favorite_crown {
            display: inline-block;
            svg {
              color: $imdb-yellow;
              font-size: 16px;
              position: relative;
              bottom: 10px;
            }
          }
        }
        h2 {
          font-size: 22px;
          margin-bottom: 25px;
          padding-bottom: 20px;
          border-bottom: 1px dashed #818181;
        }
        .director, .type, .rates, .my_rate, .casts, .writers, .year, .categories, .end {
          margin-bottom: 10px;
        }
        .casts, .director, .writers, .categories {
          display: flex;
          b{
            min-width: 48px;
          }
        }
        .director, .writers, .casts, .categories {
          span {
            &:not(:last-child) {
              &:after {
                content: "ã€";
              }
            }
          }
        }
        .rates, .my_rate {
          span {
            display: inline-block;
            margin-right: 1px;
            &:last-of-type {
              margin-right: 10px;
            }
            svg {
              font-size: 14px;
            }
          }
        }
        .rates {
          b {
            margin-right: 10px;
            svg {
              font-size: 30px;
              margin-right: 10px;
            }
          }
        }
        .my_rate {
          >svg {
            color: $check-green;
            margin-right: 10px;
          }
          span {
            svg {
              color: #e0c642;
            }
          }
        }
        .type {
          a {
            color: $confort-blue-hover;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .favorite {
          span {
            display: inline-block;
            background: #000;
            padding: 8px 15px 3px;
            line-height: 1;
            border: 1px solid #555;
          }
        }
        .end {
          span {
            color: $confort-blue-hover;
            &.still {
              color: $red-hover;
            }
          }
          .total {
            color: #fff;
          }
        }
      }
    }
    .main_intro {
      h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.5em;
      }
    }
  }
}