@import 'color.scss';

.home {
  .lists {
    overflow: hidden;
    position: relative;
    .swiper-container {
      overflow: visible;
    }
    .list_content {
      h2, p, a, b {
        color: #fff;
      }
      h2 {
        margin-bottom: 10px;
        line-height: 1.2;
        min-height: 56px;
      }
      .rates {
        margin: 5px 0;
        b {
          margin-left: 10px;
        }
      }
    }
  }
}