@import 'color.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);

body {
  background: #000;
  .v-application {
    font-family: 'Noto Sans Kannada', sans-serif;
    font-family: 'Helvetica', sans-serif;
  }
}
div, h1, h2, h3, h4, p, a {
  color: #fff;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bg_color_none {
  background: none!important;
}
.rates {
  svg {
    color: $rate-star!important;
  }
}
.swiper-container {
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
}
.swiper-pagination {
  span {
    &:focus {
      outline: none;
    }
  }
}
.swiper-button {
  background-image: none!important;
  &:focus {outline: none;}
  &:after {
    content: "";
    width: 20px!important;
    height: 20px!important;
    border-color: #fff;
    border-style: solid;
    transform: rotate(45deg);
    display: block;
  }
  &.swiper-button-prev {
    left: 20px;
    &:after {
      border-width: 0 0 3px 3px;
    }
  }
  &.swiper-button-next {
    right: 20px;
    &:after {
      border-width: 3px 3px 0 0;
    }
  }
}
.section-header {
  margin-bottom: 25px;
  h2 {
    color: #fff;
    font-size: 26px;
    border-bottom: 2px solid #333;
    padding-bottom: 15px;
  }
}
.swiper {
  background: #000;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1264px;
  }
}